<%= javascript_include_tag params[:controller] %>
<%= javascript_include_tag 'posts.js' %>

<div class="row">
	<div class="col-md-3">
		<h2><%= @user.name.capitalize%>'s Profile</h2>
	</div>
	<div class="col-md-2 col-md-offset-6">
		<% if current_user && current_user.id  == @user.id %>
			
				<button id="show_post_form" class="btn btn-default btn-block">
					Create Post
				</button>
			
			<div id="post_form" class="col-md-12 hidden">
				<%= render "posts/new" %>
			</div>
		<% end %>
	</div>
</div><!-- row -->

<div class="row">

	<div class="col-md-3 col-md-offset-1">
		<ul class="user-stats">
			<li><small>User since: </small><%=@user.created_at.strftime("%B %d, %Y")%><!-- user.join_date ? --></li>
			<!-- we should probably either take this our after dev or provide an show/hide email toggle for users -->
			<li><small>Email address: </small><%= @user.email %></li>
			<li><small>Twitter: </small> <a href="<%=@user.twitter%>">@RobScharf</a> <!-- @user.twitter ? --></li>
		</ul>
	</div>	
	<div class="col-md-3">
		<ul class="user-stats">
			<li><small>Posts: </small><%=@user.posts.count%><!-- user.post_count ? --> </li>
			<li>
				<%=link_to "User Comments:  #{@user.comments.count}",  user_comments_path(@user.id), class: '' %><!-- user.comment_count ? -->
			</li>
			<li><small>Comments Received: </small><%=@user.comments_received.count%><!-- user.comment_count ? --></li>
		</ul>
	</div>	
	<div class="col-md-3">
		<ul class="user-stats">
			<li>
				<%=link_to "User Likes:  #{@user.likes.count}",  user_likes_path(@user.id), class: '' %>
			</li>
			<li><small>Comments Liked By Others:</small> <%=@user.comment_likes_received.count%></li>
			<li><small>Total Likes Received:</small> <%=@user.total_likes_received%></li>
		</ul>			
	</div>
	<div class="clearfix"></div>
	<hr>
	<div class="col-md-10 col-md-offset-1">
		<%= render "users/chart" %>
	</div>
	<div class="clearfix"></div>
	<hr>
	<h2 class="">Posts</h2>
	<%= render "tags/posts_list" %>
</div><!-- row -->
