<div class="row home-row categories">
	<h2 class="home-title">Categories</h2>
	<div class="clearfix"></div>
	<% Category.all.each do |cat| %>
		<div class="col-lg-4">
			<h5>
				<%if cat.key == "WLP"%>
					<%= link_to '', category_path(cat.id), class: "btn btn-lg btn-primary" %>
				<%elsif cat.key == "CML"%>
					<%= link_to '', category_path(cat.id), class: "btn btn-lg btn-warning" %>
				<%elsif cat.key == "PPP"%>
					<%= link_to '', category_path(cat.id), class: "btn btn-lg btn-success" %>
				<%elsif cat.key == "CP"%>
					<%= link_to '', category_path(cat.id), class: "btn btn-lg btn-danger" %>
				<%elsif cat.key == "PJN"%>
					<%= link_to '', category_path(cat.id), class: "btn btn-lg btn-info" %>
				<%elsif cat.key == "M"%>
					<%= link_to '', category_path(cat.id), class: "btn btn-lg btn-extra" %>
				<%end%>
				<%= link_to cat.title, category_path(cat.id) %>
			</h5>
		</div>
	<%end%>
</div>