<hr>

<% @posts.each_slice(2) do |post_slice| %>
	
	<% post_slice.each do |post| %>
	<div class="col-md-6">
	<div class="recent-entry">
		<% if post.category == "World_Leader" %>
			<%= link_to post.date, tag_path(Tag.find_by_title(post.category).id), class: "btn btn-sm btn-primary" %> 
		<% elsif post.category == "Government" %>
			<%= link_to post.date, tag_path(Tag.find_by_title(post.category).id), class: "btn btn-sm btn-warning" %>
		<% elsif post.category == "Law" %>
			<%= link_to post.date, tag_path(Tag.find_by_title(post.category).id), class: "btn btn-sm btn-success" %>
		<% elsif post.category == "Politician" %>
			<%= link_to post.date, tag_path(Tag.find_by_title(post.category).id), class: "btn btn-sm btn-danger" %>
		<% elsif post.category == "Celebrity" %>
			<%= link_to post.date, tag_path(Tag.find_by_title(post.category).id), class: "btn btn-sm btn-info" %>
		<% end %>
			<small class="pull-right"> <%= post.category %> </small>							
			<h3>
				<%= link_to post.accuser, tag_path(Tag.find_by_title(post.accuser).id) %>
					<small> was accused of...</small> 
				</h3>
				<br>
				<p class="bg-info" style="padding:40px;">
					<%= post.quote %>
					</p>
				<h3 class="">
				<small>
					By: 
					<%= link_to post.accused, tag_path(Tag.find_by_title(post.accused).id) %>	
					</a>
				</small>
			</h3>
			<div class="clearfix"></div>
			<hr>
			<h5><a href="<%=post.url%>">www.<%= randoms%>.url </a></h5>
			<hr>
			<% post.tags.each do |tag|%>
					<a href="/tags/<%= tag.id %>" class="btn btn-sm btn-default">
						<%= tag.title %>
					</a>
			<%end%>
			<div class="clearfix"></div>
			<br><br><br>
			</div><!-- recent entry -->
		</div>
		
	<% end %>
	<div class="clearfix"></div>
<% end %>