<% @posts.each_slice(3) do |post_slice| %>
		<% post_slice.each do |post| %>
			<div class="col-md-4">
			 	<div class="recent-entry">
					<%= render partial: 'posts/accusation', locals: {post: post}  %>
					
						<p class="post-excerpt"><%= truncate(post.quote, length: 93) %> 
							<small>
								<%= link_to '(view full entry)', post_path(post.id) %>		
							</small>
						</p>
						
						<h4 class="">
							<small>
								By: <%= link_to post.user.name.capitalize, user_path(post.user.id) %>
							</small>
							<small class="pull-right">
								</button> Date: <%= link_to post.event_date, post_date_path(post), class: "" %>
							</small> 
						</h4>
					<hr>
					<% post.tags.each do |tag|%>
							<%= link_to tag.title.capitalize, tag_path(tag.id), class: 'btn btn-sm btn-default' %>
					<%end%>
						<%= render partial: 'likes/new', locals: {post: post} %>					
					<hr>
				</div><!-- recent entry -->
			</div><!--col 4 -->
		<% end %>
		<div class="clearfix"></div>

<% end %>