<div class="accusation">
  <h4>
    <% if post.accuser.category.key == "WLP" %>
      <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-primary" %> 
      <% elsif post.accuser.category.key == "CML" %>
        <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-warning" %>
      <% elsif post.accuser.category.key == "PPP" %>
        <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-success" %>
      <% elsif post.accuser.category.key == "CP" %>
        <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-danger" %>
      <% elsif post.accuser.category.key == "PJN" %>
        <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-info" %>
      <% elsif post.accuser.category.key == "M" %>
        <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-info" %>  
    <% end %>
    <small> invoked Godwin's Law against... </small>
    <% if post.accused.category.key == "WLP" %>
      <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-primary" %> 
      <% elsif post.accused.category.key == "CML" %>
        <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-warning" %>
      <% elsif post.accused.category.key == "PPP" %>
        <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-success" %>
      <% elsif post.accused.category.key == "CP" %>
        <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-danger" %>
      <% elsif post.accused.category.key == "PJN" %>
        <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-info" %>
      <% elsif post.accused.category.key == "M" %>
        <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-extra" %>  
    <% end %>
  </h4>
</div><!-- accusation -->