<div class="accusation">
  <h4>
    <% if post.accuser.category.title == "World_Leader" %>
    <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-primary" %> 
    <% elsif post.accuser.category.title == "Government" %>
      <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-warning" %>
    <% elsif post.accuser.category.title == "Law" %>
      <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-success" %>
    <% elsif post.accuser.category.title == "Politician" %>
      <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-danger" %>
    <% elsif post.accuser.category.title == "Celebrity" %>
      <%= link_to post.accuser.title, category_path(post.accuser.category.id), class: "btn btn-sm btn-info" %>
    <% end %>
    <small> invoked Godwin's Law against... </small>
    <% if post.accused.category.title == "World_Leader" %>
    <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-primary" %> 
    <% elsif post.accused.category.title == "Government" %>
      <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-warning" %>
    <% elsif post.accused.category.title == "Law" %>
      <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-success" %>
    <% elsif post.accused.category.title == "Politician" %>
      <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-danger" %>
    <% elsif post.accused.category.title == "Celebrity" %>
      <%= link_to post.accused.title, category_path(post.accused.category.id), class: "btn btn-sm btn-info" %>
    <% end %>
  </h4>
</div><!-- accusation -->