<% if @post %>
  <% post = @post %>
<% end %>


 
      <div class="row quote">
        <div class="col-md-8 col-md-offset-2 btn-sm excerpt">
          <h3><%= post.quote %></h3>
        </div>
      </div> <!-- row -->

      <div class="row details top-margin">
        
        <div class="col-md-8 col-md-offset-2 details-text">
          <h4><%= link_to post.accuser.title, tag_path(Tag.find_by_title(post.accuser.title)) %> invoked Godwin's Law against <%= link_to post.accused.title, tag_path(Tag.find_by_title(post.accused.title)) %> on 27 March 2014.</h4>
        </div>   
        
      </div><!-- row details -->

      <div class="row context top-margin">
        
        <div class="col-md-8 col-md-offset-2 context-text">
          <h4>Context:<small> Lorem ipsum dolor sit amizzle, yo mamma adipiscing phat. Shizzle my nizzle crocodizzle doggy fo shizzle, fo shizzle my nizzle volutpat, shut the shizzle up go to hizzle, its fo rizzle vizzle, arcu. Phat fizzle fo shizzle.</small></h4> <!-- !!  need post.context !! -->
        </div>   
        
      </div>

      <hr>

      <div class="row author">
        
        <div class="col-md-5 col-md-offset-1">
          <h4> Submitted by:</h4> 
          <span class="glyphicon glyphicon-star"></span> <%= link_to @user.name.capitalize, user_path(@user.id) %></a>
          </button> on <%= link_to post.date, post_date_path(post), class: "" %>
          <br/>
          <a href="http://www.rushlimbaugh.com/daily/2009/08/06/whose_swastikas_speaker_pelosi">Source link</a> <!-- !!  need post.source !! -->
        </div>
      </div><!-- row author -->
      
      <hr>

    <div class="row comment-title">
      <div class="col-md-5 col-md-offset-1">
        <h3>Comments:</h3>
      </div>
    </div>

    <% post.comments.each do |comment| %>
    <div class="row comments">  
      <div class="col-md-8 comment col-md-offset-2">  
        <h4 class="comment-author"><%= link_to comment.user.name.capitalize, user_path(comment.user.id) %></h4><br/> <!-- comment author -->
        <p class="bg-success comment-text">
          <%= comment.content %>
        </p>
      </div><!-- comment-text-->
    </div>
    <% end %>


