<% if @post %>
	<% post = @post %>
<% end %>


      <div class="jumbotron">
      <div class="row">
        		
		<% if post.category == "World_Leader" %>
			<div class="col-md-12 btn-sm btn-primary excerpt"> 
		<% elsif post.category == "Government" %>
			<div class="col-md-12 btn-sm btn-warning excerpt"> 
		<% elsif post.category == "Law" %>
			<div class="col-md-12 btn-sm btn-success excerpt">
		<% elsif post.category == "Politician" %>
			<div class="col-md-12 btn-sm btn-danger excerpt">
		<% elsif post.category == "Celebrity" %>
			<div class="col-md-12 bitn-sm btn-info excerpt">
		<% end %>

				<h3><%= post.quote %></h3>
			</div>

        </div> <!-- row -->
      </div><!-- jumbotron/post excerpt -->

      <hr>

      <div class="row details">
        <div class="col-md-2"></div>  
        <div class="col-md-10 details-text">
          <h3><button type="button" class="btn btn-default"><a href="#"><%= link_to post.accuser, post_path(post.id) %></a></button> invoked Godwin against <button type="button" class="btn btn-default"><a href="#"><%= link_to post.accused, post_path(post.id) %></a></button> on 27 March 2014.</h3>
        </div>   
      </div><!-- row details -->
      <div class="row context top-margin">
        <div class="col-md-2"></div>  
        <div class="col-md-8 context-text">
          <h4>Context:<small> Lorem ipsum dolor sit amizzle, yo mamma adipiscing phat. Shizzle my nizzle crocodizzle doggy fo shizzle, fo shizzle my nizzle volutpat, shut the shizzle up go to hizzle, its fo rizzle vizzle, arcu. Phat fizzle fo shizzle.</small></h4> <!-- !!  need post.context !! -->
        </div>   
        <div class="col-md-2"></div> 
      </div>

      <hr>

      <div class="row author">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <h4> Submitted by:</h4> 
          <span class="glyphicon glyphicon-star"></span> <%= link_to @user.name.capitalize, user_path(@user.id) %></a>
          </button> on <a href="#"><%= post.date %></a>
          <br/>
          <a href="http://www.rushlimbaugh.com/daily/2009/08/06/whose_swastikas_speaker_pelosi">Source link</a> <!-- !!  need post.source !! -->
        </div>
        <div class="col-md-9"></div>
      </div><!-- row author -->

    


  <hr>


  <div class="row comment-title">

    <div class="col-md-1"></div>

    <div class="col-md-5">
    	<h3>Comments:</h3>
    </div>

    <div class="col-md-6"></div>
  	</div>

	<% post.comments.each do |comment| %>
    <div class="row">

      <div class="col-md-2"></div>
 
      <div class="col-md-8 comment">  
        <h4 class="comment-author"><%= link_to comment.author.name.capitalize, user_path(comment.author.id) %></h4><br/> <!-- comment author -->

        <p class="bg-success comment-text">
          <%= comment.content %>
        </p>
      </div><!-- comment text-->

      <div class="col-md-2"></div>
      <div class="clearfix"></div>
    </div>

      <hr>

      <% end %>


	


