<% if @post %>
  <% post = @post %>
<% end %>
<% if current_user.id == post.user.id %>
  <div class="row">
    <div class="col-md-2">
      <%= button_to "Delete Post", { action: "destroy", id: @post.id }, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn-danger  btn btn-block' %>    
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= button_to 'Edit Post', edit_post_path(post.id), method: :get,  class: 'btn btn-info btn-block'  %>
    </div>  
  </div>
<%end%>

      <div class="row quote">
        <div class="col-md-2 col-md-offset-9">
          <%= render partial: 'likes/new', locals: {post: post} %>
        </div>
        <div class="col-md-8 col-md-offset-2 btn-sm excerpt">
          <h3><%= post.quote %></h3>
        </div>
      </div> <!-- row -->

      <div class="row details top-margin">
        
        <div class="col-md-8 col-md-offset-2 details-text">
          <h4><%= link_to post.accuser.title, tag_path(Tag.find_by(title: post.accuser.title)) %> invoked Godwin's Law against <%= link_to post.accused.title, tag_path(Tag.find_by(title: post.accused.title)) %> on <%= link_to post.event_date, post_date_path(post), class: "" %>.</h4>
        </div>   
        
      </div><!-- row details -->

      <div class="row context top-margin">
        <div class="col-md-8 col-md-offset-2 context-text">
          <h4>Context:<small><%= post.context %></small></h4> <!-- !!  need post.context !! -->
        </div>   
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-8 col-md-offset-1">
          <h4>Liked By: 
          <%post.likers.each do |liker| %>
          <span class="glyphicon glyphicon-star"></span> 
            <%= link_to liker.name.capitalize, user_path(liker.id), class: "" %>
          <%end%>
          </h4>  
        </div>
      </div>

      <div class="row author">
        
        <div class="col-md-5 col-md-offset-1">
          <h4> Submitted by:
          <span class="glyphicon glyphicon-star"></span> <%= link_to @user.name.capitalize, user_path(@user.id) %>
          </h4>
          <h4>
            URL: <a href="<%= @post.url %>">Source Link</a> 
          </h4>
        </div>
      </div><!-- row author -->
      
      <hr>

    <div class="row comment-title">
      <div class="col-md-5 col-md-offset-1">
        <h3>Comments:</h3>
      </div>
    </div>
    <% post.comments.each do |comment| %>
    <div class="row comments">  
      <div class="col-md-8 comment col-md-offset-2">  
        <h4 class="comment-author">
          <%= link_to comment.user.name.capitalize, user_path(comment.user.id) %>
        </h4>
        
        
        <blockquote>
          <p class="comment-text">
            <%= comment.content %>
        <% if current_user.id == comment.user.id %>
          <span class="">
            <%= button_to 'Delete', post_comment_path(post.id, comment.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn-danger  btn-sm' %> 
          </span>
        <% end %>
          </p>
       </blockquote> 
      </div><!-- comment-->
    </div>
    <% end %>
    <div id="comment_form" >
      <%= render partial: 'comments/new', locals: { post: post } %>
    </div>