<!DOCTYPE html>
<html>
<head>
  <title>GodwinRepo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <!-- Begin page content -->
      <div class="container">
        <header>
          <nav>
            <ul class="nav nav-pills pull-right">
              <li class="active">
                <%= link_to "Home", root_url%>
              </li>
              <li>
                <%= link_to "About", page_path("about") %>
              </li>
                
                <li>
                <% if current_user %>
                  <%= link_to "Log out", session_path(current_user.id), method: :delete %>  
                <% else %>  
                  <%= link_to "Log in", new_user_path %>
                 <%end%>
                </li>
              
              <li><a href="#contact">Contact</a></li>
              <li><input type="search" class="form-control" placeholder="Search"></li>
            </ul>
          </nav>
        </header>
	
		<%=yield%>
	<hr>
		<footer class="text-center bg-info">
	 		<p>&copy; Rob Scharf and Nick Smit - 2014</p>
	    </footer>
    </div>
    <!-- End page content wrap -->
</body>
</html>
