<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=UTF8">
<html>
<head>
  <title>GodwinRepo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>
<body>
      <!-- Begin page content -->
      <div class="container">
        <header>
          <nav>
            <!--  Sign in and out and profile page partial for nav -->
            <%= render 'home/sign_in_out_nav' %>
            <div class="clearfix"></div><hr>
            <!--  Basic Nav Links  -->
            <%= render 'home/basic_nav' %>
          </nav>
          <div class="clearfix"></div><hr>
        </header>
        <!-- Header Close -->

      <%=yield%>
	
      <%= render 'home/footer' %>
    </div>
    <!-- End page content wrap -->
</body>
</html>
